.category_container{
    /* outline: 1px solid black; */
    width: 427px;
    margin:5px 180px;
    height: 23px;
}
.categories_section{
    /* position: relative;
    left:99px;
    bottom:263px; */
    
}
.categories_section p{
    display:inline-block;
}
.products_categories label{
    display: block;
    text-align: left;
}
.products_categories input,.products_categories p{
    display:inline-block;
    margin:10px;
    text-align: left;
    vertical-align: middle;
}
div.sort_area{
    text-align: right;
    margin:10px;
}
.products_categories label:hover{
    border: 1px solid black;
    font-weight: bold;
}